@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Yuji Boku', serif !important;
}
body {
    background-color: black;
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: #161616;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100%;
    background: pink;
}

li {
    cursor: default;
}
.container_contenido {
    display: flex;
    overflow: hidden;
}

.contenido_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista_datos {
    font-family: 'Yuji Syuku', serif;
}

.texto {
    padding: 20px;
    text-align: justify;
}
iframe {
    padding: 10px 20px;
    /* padding-left: 20px; */
    border: 0;
    width: 600px;
    height: 642px;
}

li {
    color: whitesmoke;
}

.lista_info {
    margin-top: 20px;
    padding:10px 10px 10px 0px;
    letter-spacing: 2px;
    line-height: 22px;
}




.acertijo {
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
}